{% extends "base.html" %}
{% load obfuscate_email %}

{% block content %}
<h2 class="clan-name"><a href="#">CLAN DJANGO</a></h2>

<div class="player-info">
  <dt class="player-name">Name:</dt><dd>{{profile.user.username}}</dd>
  <dt class="player-starcraft-username">StarCraft Username:</dt><dd>{{profile.starcraft_username}}{{profile.starcraft_number_display}}</dd>
  <dt class="player-real-id">RealID:</dt><dd>{{profile.real_id|obfuscate_email}}</dd>
  <dt class="player-races">Races:</dt><dd>
    {% for race in profile.races.all %}
    {% if forloop.first %}
    <ul class="unstyled">
    {% endif %}
      <li>{{race.get_name_display}}: {{race.get_game_type_display}} - {{race.get_league_display}}</li>
    {% if forloop.last %}
    </ul>
    {% endif %}
    {% endfor %}
  </dd>
  <dt class="player-working-on">Working on:</dt><dd>
    {{profile.working_on|linebreaksbr}}
  </dd>
</div>
{% endblock content %}
